.heading{
  width: 198px;
  height: 51px;
  position: relative;
  left: -2px;
  top: -6px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  background: white;
  position: relative;
  right: 14px;
}