.interactive-scene {
  background: url("https://www.gasboy.com/us/sites/gasboy.com.us/files/GasBoy_Interactive_Scene_BLUR-back_o.jpg")
    0 0 no-repeat;
  background-size: cover;
}
.i-scene-wrapper {
  position: relative;
}
.i-scene-wrapper > div {
  z-index: 1;
}
.i-markers,
.i-markers > div {
  position: absolute;
  top: 0;
  left: 0;
}

.i-markers > div {
  width: 60px !important;
  max-width: unset !important;
}

.i-markers > div > img {
  z-index: 10;
}

.i-markers > div.cloud-marker {
  top: 110px;
  left: 510px;
}

.i-markers > div.cloud-marker .i-marker-info {
  top: -10px;
  left: -160px;
}

.i-markers > div.gas-truck-marker {
  top: 304px;
  left: 120px;
}

.i-markers > div.gas-truck-marker .i-marker-info {
  top: -150px;
  left: 40px;
}

.i-markers > div.sump-marker {
  top: 460px;
  left: 176px;
}

.i-markers > div.sump-marker .i-marker-info {
  top: -340px;
  left: 40px;
}

.i-markers > div.pump-marker {
  top: 530px;
  left: 403px;
}

.i-markers > div.pump-marker .i-marker-info {
  top: -250px;
  left: 40px;
}

.i-markers > div.islander-marker {
  top: 505px;
  left: 577px;
}

.i-markers > div.islander-marker .i-marker-info {
  top: -320px;
  left: -350px;
}

.i-markers > div.utility-truck-marker {
  top: 468px;
  left: 990px;
}

.i-markers > div.utility-truck-marker .i-marker-info {
  top: -300px;
  left: -350px;
}

.i-markers > div.tls-marker {
  top: 276px;
  left: 774px;
}

.i-markers > div.tls-marker .i-marker-info {
  top: -180px;
  left: -350px;
}

.i-markers > div.van-fuel-marker {
  top: 470px;
  left: 708px;
}

.i-markers > div.van-fuel-marker .i-marker-info {
  top: -320px;
  left: -350px;
}

.i-markers > div .i-marker-info {
  position: relative;
  top: 0;
  left: 0;
  background: #f0f0f0;
  color: #fff;
  z-index: 100;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0;
  transition: none;
}

.i-markers > div:hover .i-marker-info {
  width: auto;
  display: table;
  opacity: 1;
  height: auto;
  padding: 0 15px 15px 15px;
  transition: all 400ms ease 0ms;
}

.i-markers > div .i-marker-info > div {
  width: 370px;
}

.i-markers > div .i-marker-info img {
  margin-bottom: 20px;
}

.i-markers > div .i-marker-info .gvr-color-strip {
  margin-bottom: 0;
}

.i-markers > div .i-marker-info h3 {
  color: #236092;
  margin-bottom: 15px;
}
.i-markers > div .i-marker-info p {
  color: #333;
  margin-bottom: 10px;
  line-height: 21px;
}

@media (max-width: 1199px) {
  .i-markers > div {
    width: 60px !important;
    max-width: unset !important;
  }

  .i-markers > div.cloud-marker {
    top: 82px;
    left: 410px;
  }

  .i-markers > div.gas-truck-marker {
    top: 240px;
    left: 106px;
  }

  .i-markers > div.sump-marker {
    top: 376px;
    left: 140px;
  }

  .i-markers > div.pump-marker {
    top: 440px;
    left: 326px;
  }

  .i-markers > div.islander-marker {
    top: 412px;
    left: 470px;
  }

  .i-markers > div.utility-truck-marker {
    top: 330px;
    left: 800px;
  }

  .i-markers > div.tls-marker {
    top: 228px;
    left: 636px;
  }

  .i-markers > div.van-fuel-marker {
    top: 380px;
    left: 576px;
  }
}

@media (max-width: 991px) {
  .interactive-scene {
    padding: 15px 0;
  }

  .i-markers,
  .i-markers > div,
  .i-markers > div .i-marker-info {
    display: block !important;
    position: static;
    top: 0px !important;
    left: 0 !important;
  }

  .i-markers > div {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .i-markers > div .i-marker-info {
    width: 100% !important;
    height: unset;
    opacity: 1;
    padding: 0px 15px 15px 15px;
  }

  .i-markers > div .i-marker-info > div {
    width: auto !important;
  }
}

@media (max-width: 500px) {
  .i-markers > div .i-marker-info > .row > div {
    width: 100% !important;
  }
  .i-markers > div .i-marker-info img {
    margin-bottom: 20px;
  }
}

body #page-container img {
  max-width: 100%;
  height: auto;
}
.block > h2 {
  font-size: 18px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}
.clearfix:before,
.filter-wrapper:before,
.clearfix:after,
.filter-wrapper:after {
  content: " ";
  display: table;
}

.clearfix:after,
.filter-wrapper:after {
  clear: both;
}

.clearfix:after,
.filter-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix,
html[xmlns] .filter-wrapper {
  display: block;
}

* html .clearfix,
* html .filter-wrapper {
  height: 1%;
}

.gvr-color-strip {
  display: table;
  width: 100%;
  background: #236092;
}

.gvr-color-strip div {
  height: 10px;
}

.gvr-color-strip div.gvr-red {
  background: #d31245;
}

.gvr-color-strip div.gvr-green {
  background: #679146;
}

.gvr-color-strip div.gvr-blue {
  background: #236092;
}

.gvr-color-strip-single {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: #679146;
}

.gvr-color-strip-single:before,
.gvr-color-strip-single:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  width: 33.33%;
  pointer-events: none;
  z-index: 1;
}

.gvr-color-strip-single:before {
  background-color: #d31245;
  left: 0;
}

.gvr-color-strip-single:after {
  background-color: #236092;
  right: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid:before,
.container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.3333333333%;
}

.col-xs-2 {
  width: 16.6666666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.3333333333%;
}

.col-xs-5 {
  width: 41.6666666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.3333333333%;
}

.col-xs-8 {
  width: 66.6666666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.3333333333%;
}

.col-xs-11 {
  width: 91.6666666667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.3333333333%;
}

.col-xs-pull-2 {
  right: 16.6666666667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.3333333333%;
}

.col-xs-pull-5 {
  right: 41.6666666667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.3333333333%;
}

.col-xs-pull-8 {
  right: 66.6666666667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.3333333333%;
}

.col-xs-pull-11 {
  right: 91.6666666667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.3333333333%;
}

.col-xs-push-2 {
  left: 16.6666666667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.3333333333%;
}

.col-xs-push-5 {
  left: 41.6666666667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.3333333333%;
}

.col-xs-push-8 {
  left: 66.6666666667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.3333333333%;
}

.col-xs-push-11 {
  left: 91.6666666667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.btn-primary {
  color: #fff;
  background-color: #236092;
  border-color: #1e527d;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #194569;
  border-color: #050f17;
}

.btn-primary:hover {
  color: #fff;
  background-color: #194569;
  border-color: #12324c;
}

.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #194569;
  border-color: #12324c;
}

.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #12324c;
  border-color: #050f17;
}

.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #236092;
  border-color: #1e527d;
}

.btn-primary .badge {
  color: #236092;
  background-color: #fff;
}

.pull-right {
  float: right;
}

.fa.pull-right {
  margin-left: 0.3em;
}
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eee;
  border-left: 0;
  text-align: right;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}
a {
  color: #236092;
  text-decoration: none;
}
html .btn-primary:hover,
html .btn-primary:focus,
html .btn-primary:active:hover,
html .btn-primary:active:focus {
  color: #ffffff;
}
